:root {
  /* COLORS */
  --primary-pink: hsl(322, 100%, 66%);
  --primary-pink-light: hsla(322, 100%, 66%, 70%);
  --neutral-deep-pale-cyan: hsl(193, 100%, 96%);
  --neutral-dark-cyan: hsl(192, 100%, 9%);
  --neutral-grayish-blue: hsl(208, 11%, 55%);
  --primary-white: #fff;

  /* FONT SIZES*/
  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-18: 18px;
  --fs-19: 19px;
  --fs-2: 2rem;
  /* --fs-3: 3rem; */
  /* --fs-4: 4rem; */
  /* --fs-5: 5rem; */
  /* --fs-6: 6rem; */

  /* FONT WEIGHTS */
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  /* FONT FAMILIES */
  --poppins: "Poppins", sans-serif;
  --open-sans: "Open Sans", sans-serif;
  --body-font-size: 16px;
}

/* HTML TAGS */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--body-font-size);
  font-family: var(--open-sans);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
}

header {
  font-family: var(--poppins);
  background: url(assets/images/bg-hero-mobile.svg);
  background-color: var(--neutral-deep-pale-cyan);
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  padding: 4rem 0;
  transition: padding ease-out .4s;
}

section > div.container {
  gap: 2.7rem;
}

h1 {
  color: var(--neutral-dark-cyan);
  font-weight: var(--fw-600);
  font-size: 1.7rem;
}

h3 {
  font-family: var(--poppins);
  font-size: 1.3rem;
  font-weight: var(--fw-600);
  line-height: 2.3rem;
  color: var(--neutral-dark-cyan);
}

p {
  color: var(--neutral-dark-cyan);
}

/* UTILITIES CLASSES */

.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-1 {
  margin: 1.5rem 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.lh-22 {
  line-height: 22px;
}

.lh-28 {
  line-height: 28px;
}

/* LAYOUTS */

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-h-between {
  justify-content: space-between;
}

.flex-v-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
}

/* BLOCK ELMENTS CLASSES */

.button {
  padding: 13px 4.3rem;
  border-radius: 50px;
  border: none;
  font-weight: var(--fw-700);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  color: var(--neutral-dark-cyan);
  font-size: var(--fs-13);
  font-family: var(--open-sans);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.button--white {
  background: var(--primary-white);
}

.button--small-mobile {
  padding: 7px 30px;
}

.button--white:hover {
  color: var(--neutral-grayish-blue);
}

.button--pink {
  background: var(--primary-pink);
  color: var(--primary-white);
}

.button--pink:hover {
  background: var(--primary-pink-light);
}

/* MAIN BODY CLASSES */

.header__logo {
  width: 115px;
  height: var(--fs-18);
}

.header__description {
  text-align: center;
  gap: 4rem;
}

.header__description-content {
  padding: 0 0.5rem;
}

.header__description-content > p {
  max-width: 500px;
}

.header__illustration {
  width: 100%;
  max-width: 500px;
}

.card {
  border-radius: 15px;
  padding: 2rem 1.9rem;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-white);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.card__illustration {
  max-width: 300px;
  width: 100%;
}

.card__content {
  text-align: center;
}

.small__card{
  border-radius: 15px;
  padding: 2rem 1.3rem;
  background-color: var(--primary-white);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.small__card-content{
  padding: 16px 0;
}
.card__content > h3 {
  color: var(--neutral-dark-cyan);
}
.card__content > p {
  font-size: var(--fs-14);
  line-height: 22px;
  color: var(--neutral-grayish-blue);
}
.small__card-content > h3{
  font-size: 1.1rem;
}
.small__card-content > .button{
  padding: 7px 1rem;
  font-size: var(--fs-12);
}
footer{
  background: var(--neutral-dark-cyan);
}
.info__content{
  padding: 13rem 0;
}
.info__logo{
  filter: brightness(0) invert(1);
  max-width: 50%;
  height: auto;

}
.info__description{
  max-width: 73%;
  margin-top: 2rem;
  display: inline;
}
.info__icons > img{
  max-width: 5%;
  height: 100%;
  margin-right: 10px;
}
.info__description > p{
  color:var(--primary-white);
  font-size: var(--fs-12);
  margin-left: 25px;
  margin-top: -1.3rem;
}
.info__nav{
  margin-top: 3rem;
}
ul{
  list-style-type: none; 
}
li{
  color: var(--primary-white);
  font-family: var(--open-sans);
  font-size: var(--fs-14);
  margin-bottom: 20px;
}
.info__social{
  text-align: center;
}
.fab{
  color: var(--primary-white);
  background: var(--neutral-dark-cyan);
  padding: 10px;
  border-radius: 50%;
  font-size: 1.3rem;
  border: 1px solid var(--primary-white);
  margin-right: 10px;
}
.info__copy{
  color: var(--primary-white);
  font-size: var(--fs-14);
  margin-top: 1rem;
  font-family: var(--open-sans);
}
/* MEDIA QUERIES */

/* From Mobile View To Tablet View */
@media (min-width: 769px) {
  h1 {
    font-size: var(--fs-2);
  }

  .button {
    padding: 13px 3.3rem;
  }

  .container {
    padding: 0 2rem;
  }

  .header__logo {
    width: 150px;
    height: 25px;
  }

  .header__description-content {
    padding: 0;
  }

  .card__illustration {
    max-width: 350px;
  }

  .card__content > h3 {
    font-size: 1.6rem;
  }

  .card__content > p {
    font-size: initial;
    line-height: 28px;
  }
}

/* From Tablet View To Desktop View */

@media (min-width: 800px) {
  header {
    background-image: url(assets/images/bg-hero-desktop.svg);
    background-position: bottom;
    background-size: unset;
  }

  h1 {
    font-size: 2.3rem;
  }

  .header__logo {
    width: 150px;
    height: 25px;
  }

  .header__illustration {
    max-width: 50%;
  }

  .header__description {
    flex-direction: unset;
    text-align: unset;
  }
}

@media (min-width: 900px) {
  section {
    padding: 6rem 0;
  
  }

  .card {
    flex-direction: row-reverse;
  }

  .card__content {
    text-align: unset;
  }
  
}

/* From Desktop View And Up */

@media (min-width: 1024px) {
  section {
    padding: 8rem 0;
  }

  .container {
    padding: 0 4rem;
  }

  .header__logo {
    width: 200px;
    height: 32px;
  }

  .card__illustration {
    max-width: 500px;
  }

  .card__content {
    max-width: 450px;
    margin: 0 auto 0 7%;
  }
}
